  <!-- BEGIN FOOTER -->
  <footer>
    <div class="footer-content">
      <div class="footer-social">
        <a href="https://instagram.com/gabithegoatofficial" target="_blank">
          <i class="icon-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCCDSBZRMEkRxTn5cHka_RQg" target="_blank">
          <i class="icon-youtube"></i>
        </a>
        <a href="https://facebook.com/GabiTheGoat" target="_blank">
          <i class="icon-facebook"></i>
        </a>
        <a href="https://twitter.com/GabiTheGoat" target="_blank">
          <i class="icon-twitter"></i>
        </a>
        <br>
        <a href="https://www.instagram.com/explore/tags/gabithegoat/" target="_blank">#GabiTheGoat</a>
        <a href="https://www.instagram.com/explore/tags/yougoatme/" target="_blank">#YouGoatMe</a>
        <a href="https://www.instagram.com/explore/tags/educationforall/" target="_blank">#EducationForAll</a>
      </div>
      <div class="footer-menu">
        <a href="/pages/contact-us">{{ 'sections.footer.links.contact_us' | t }}</a>
        <a href="/pages/help-gabi">{{ 'sections.footer.links.press_pack' | t }}</a>
        <a href="/pages/privacy-policy">{{ 'sections.footer.links.privacy' | t }}</a>
        <a href="/pages/terms-of-service">{{ 'sections.footer.links.terms' | t }}</a>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->


  <!-- BEGIN SCREAM -->
  <audio src="/assets/scream.mp3" preload="auto" id="scream" autobuffer/>
  <!-- END SCREAM -->
</body>

</html>