<h2>{{ 'sections.goodies.title' | t }}</h2>
<div align="center">
  <div class="item-empty">
    <div class="item-empty-content">
      <p>
        {{ 'sections.goodies.text' | t }}
        <br>
        <a href="/pages/contact-us" class="btn btn-sm">{{ 'sections.goodies.cta_html' | t }}</a>
        <br>
        <br>
      </p>
    </div>
  </div>
</div>