{% layout "layout" %}
<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ page.title }}</h1>
    <p>Sned us an email to <a href="mailto:hello@gabithegoat.com">hello@gabithegoat.com</a></p>
  </div>
</div>
