{% layout "layout" %}
<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ page.title }}</h1>
  </div>
  <p>{{ page.content }}
</div>