{% layout "layout" %}

<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ '404_page.title' | t }}</h1>
    <img async src="{{ '404-c.png' | asset_url }}" width="399px" height="259px" alt="{{ '404_page.title' | t }}" />
    <p>{{ '404_page.subtext_html' | t }}</p>
  </div>
</div>
