<div class="container" data-sticky-trigger="top">
  <div align="center" class="page-subheader">
    <h1 class="with-preheader">{{ collection.title }}</h1>
  </div>
  {% include 'collection' with collection, hide_h2: true %}
  {% include 'sections/goodies' %}
</div>